@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.input {
  @apply w-full bg-[#005461]/50 border border-[#0C7779]
  rounded-lg py-2 pl-10 pr-4 text-[#E6F6F4]
  placeholder-[#9FD9D2]
  focus:ring-2 focus:ring-[#3BC1A8]
  focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2
  text-[#9FD9D2] size-5;
}

.auth-input-label {
  @apply block text-sm font-medium text-[#C7ECE6] mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium
  rounded-full bg-[#249E94]/20 text-[#3BC1A8];
}

.auth-btn {
  @apply w-full bg-[#249E94] text-white rounded-lg py-2.5 font-medium
  hover:bg-[#3BC1A8]
  focus:ring-2 focus:ring-[#3BC1A8];
}

.auth-link {
  @apply px-4 py-2 inline-block bg-[#249E94]/10
  rounded-lg text-[#249E94]
  hover:text-[#3BC1A8]
  text-sm transition-colors;
}
